p {
    color: white;
}
p:hover {
    color: red;
}
h2{
    color: white;
    text-align: center;
}
h1:hover {
    color: red;
}
.center{
    color: white;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}