.center2 {
    position:absolute;
    top:52.5%;
    left:50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
    width: 80%;
    height: 85%;
    object-fit: contain;
}
.right {
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2%;
    right: 1%;
    width: 10%;
    height: 5%;
}

.right:hover {
    background-color: rgb(103, 196, 49);
    color: #FFF;
}

.left { 
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2%;
    left: 1%;
    width: 10%;
    height: 5%;
}
.rd {
    position:absolute;
    top:20%;
    left:50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
    width: 80px;
}
.slider {
    accent-color: #7B241C;
    display:inline;
    position: absolute;
    left: 12%;
    width: 76%;
    top: 1.5%;
    height: 20px;
    background: #4D4D4D;
}
.slider2 {
    accent-color: #7B241C;
    display:inline;
    position: absolute;
    bottom: 1%;
    left: 1%;
    width: 98%;
    height: 20px;
    background: #4D4D4D;
}
.texte {
    font-family: Helvetica, Sans-Serif;
    text-align: center;
    color: white;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.slider3 {
    accent-color: #7B241C;
    display:inline;
    position: absolute;
    left: 12%;
    width: 76%;
    top: 5%;
    height: 20px;
    background: #4D4D4D;
}
