.center2 {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
    max-width: 90%;
    height: 80%;
}
.right {
    display: inline;
    position: absolute;
    top: 2%;
    right: 1%;
    width: 10%
}
.left {
    display: inline;
    position: absolute;
    top: 2%;
    left: 1%;
    width: 10%
}
.rd {
    font-family: Impact;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
    font-size: 30px;
    box-align: center;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: black;
    color: white;
    position:absolute;
    top:15%;
    left:50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}
.slider {
    display:inline;
    position: absolute;
    left: 12%;
    width: 76%;
    height: 20px;
    background: white;
}